$color1: #005B73;
$color2: #026D89;
$color3: #083E4C;
$color4: #005B7300;
$color5: #545863;
$color6: #3D4543;
$color7: #F1F5F5;
$color8: #778478;
$color9: rgba(8, 62, 76, 0.50);
$color10: rgba(255, 255, 255, 0.70);
$color11: rgba(0, 0, 0, 0.02);